body{
   background-color: black;
   margin-right: 20px;
   margin-left: 20px;
}

footer p{
    text-align: center;
    font-size:12px;
    font-weight: 700;
    color: white;
}


img{
    width: 230px;
    height: 200px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 20%;
}


#back-to-main {
  position: absolute;
  left:1400px; 
}


#caption-food{
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 100px;
    text-align: center;
}



iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 55px;
    width: 600px;
    height: 650px;
    float: right;
}




main{
    display: flex;
}


#country-info{
    flex: 2
}

#country-info p{
    margin-right: 10px;
}

aside{
    flex:1;
}

h2{
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

#p-abt-location{
    display: block;
    max-width: 400px;
    padding-right: 80px;
    border-right: 2px solid white;
}


#link{
    position: absolute;
    height: 250px;
    width: 350px;
    transform: translate(505px, -360px);
}

#location{
    max-width: 400px;
}


ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

.normal-list li p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 25px;
    border-right: 1px solid white;
    height: 340px;
    border-left: 1px solid white;
    margin-bottom:20px;
}


.normal-list li img:hover {
    animation: hoverPop 0.3s ease forwards;
}



.normal-list li p:hover {
    animation: hoverPop 0.3s ease forwards;
}


nav ol li a:hover{
    animation: textPop 0.3s ease forwards;
}


@keyframes textPop {
      0%   {}
  100% { font-size: 36px;
     color: yellow;
    }
}


@keyframes hoverPop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}



.normal-list li {
    margin-top: 20px;
    flex: 0 0 calc(25% - 15px); 
    text-align: center;
}

.normal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}

article p{
    text-align: center;
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

nav img{
    margin-top: 13px;
    width: 50px;
    height: 30px;
}



header{
    position: sticky;
    top: 0px;
}


.logo{
    border: none;
    border-radius: 0%;
    padding-right: 50px;
}


nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid white;

}

.attraction{
    left: 380px;
}

.food{
    left: 545px;
}

.culture{
    left: 250px;
}


nav ol li a{
    position: absolute;
    top: -40px;
    color:white;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: none;
}





.timeline {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
}

/* Hide the radio buttons */
input[type="radio"] {
  display: none;
}


label {
  display: inline-block;
  margin: 8px;
  padding: 10px 18px;
  border: 2px solid #d43f00;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}


label:hover {
  background: #d43f00;
  color: white;
}

/* Hide all text by default */
.text {
  display: none;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}


#ancient:checked ~ .content .ancient,
#feudal:checked ~ .content .feudal,
#meiji:checked ~ .content .meiji,
#modern:checked ~ .content .modern {
  display: block;
  background-color: black;
}


#ancient:checked + label,
#feudal:checked + label,
#meiji:checked + label,
#modern:checked + label {
  background: red;
  color: white;
}

#preloader{
    background-image: url(https://cdn.dribbble.com/userupload/38795344/file/original-959929a53bfc4b8fe8517c2e2f82bbbb.gif);
    position: fixed;
    z-index: 250;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
